/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$primary: #E64826;
$info: #E64826;
$link: #E64826;

@import "bulma";

.notification:not(:last-child) {
  margin-bottom: 0;
}

.logo {
  margin-left: 2vw;
}

.tight-bottom.content:not(:last-child) {
  padding-bottom: 0;
  margin-bottom: 0;
}

// for links on sign in and sign up to sit slightly below the button
.button.is-info.is-medium {
  margin-bottom: 0.5em;
}

// to add a space beside radio button
input[type="radio"], input[type="checkbox"] {
  margin-right: 5px;
}

// to match hero banner
.pad-left {
  padding-left: 36px;
}

// for a users own event show page
.title.is-2.tight-bottom {
  margin-bottom: 0;
}

// reduce bulma footer size
.footer {
  padding-top: 24px;
  padding-bottom: 24px;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}